# Whitelist
/*

!.gitignore

!fastfetch/
!hypr/
hypr/configs/platform_default.conf
!kitty/
!nvim/
nvim/lazy-lock.json
!waybar/
!wlogout/
!wofi/
!zed/
!ohmyposh/
!yazi/
!swaync/
!scripts/

# Add just one file from VSCode (needs folders to exist)
!Code/
Code/*
!Code/User
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json

!README.md

!wallpaper.png
!.zshrc
